*{
    padding: 0px;
    margin: 0px;
}
.info100{
    height: 150px;
    width: 600px;
}
.info0{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.info2{
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.info3  {
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.foto{
    height: 150px;
    width: 150px;
    background-color: #8a8a8a;
    border-radius: 50%;
}
.trabais{
    min-height: 500px;
    width: 650px;
    background-color: #00000080;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.info{
    min-height: 300px;
    width: 650px;
    background-color: #00000080;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.class{
    height: 80px;
    width: 300px;
    background: radial-gradient(circle, #223bac, #080846);
    border-radius: 5px;
    border: solid black 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.centrau a{
    color: white;
}
.centrau{
    /* padding-top: 50px; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-self: center;
    background: 
        linear-gradient(to bottom, #ff3300, #6200ff), /* gradiente linear */
        radial-gradient(circle, #8a8a8a 30%, transparent 70%); /* gradiente radial */
    background-blend-mode: multiply; /* modo de mistura para combinar os gradientes */
}
p, button{
    border: 2px solid #000;
    border-radius: 94% 70% 13% 65% / 42% 70% 89% 33% ; 
    height: 50px;
    width:auto;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #a1ffef, #3a3adf);
    color: #000000;
    font-size: 15px;
}
p a{
    color: white;
}
.info100 p{
    max-width: 600px;
    height: 140px;
    font-size: 20px;
}


.btn {
    /* padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px; */
    transition: background-color 0.9s ease; /* Transição suave na cor de fundo */

    transition: transform 1s ease ; 
    /* transform: rotate(130deg); */
    animation: identifier 2.6s infinite;
}

.btn:hover {
    background: linear-gradient(to bottom, #79c5b8, #3535c4);
    
}

@keyframes example {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
@keyframes identifier {
    /* 0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);} */
    33% {border-radius: 34% 49% 45% 12% / 30% 86% 34% 73%}
    66% {border-radius: 57% 78% 90% 35% / 24% 78% 20% 50%}
    100% {border-radius: 94% 70% 13% 65% / 42% 70% 89% 33%}
}

.btn:active {
    animation: example 0.3s ease; /* Animação quando o botão é clicado */
}



.container2 {
    overflow-y: hidden;
    /* overflow-x: hidden; */
}
.container2:hover{
    overflow-y: scroll;
}

.sticky-element {
    align-self: center;
    position: sticky;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 500px;
    background-color: #0000006e;
    padding: 10px;
    border: 3px solid #000000a4;
    text-align: center;
}

.content2 {
    padding-top: 120px;
    width: auto;
    height: 100%;
}