*{
    padding: 0px; margin: 0px; box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
main{
    height: 95vh;
    width: 95vh;
}
:root {
    --X: 0;
    --Y: 0;
    --grid-item-color: rgba(0, 0, 0, 0);

}
h3{
    margin:0 0 10px 0;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(var(--X), 70px);
    grid-template-rows: repeat(var(--Y), 70px);
    /* gap: 5px; */
    /* position: fixed; */
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}
.grid-item svg{
    height: 80%;
    width: 80%;
}
.grid-item:hover {
    filter: brightness(120%)
}
.grid-item-1{
    background-color: rgb(68, 67, 100);
}
.grid-item--1{
    background-color: rgb(131, 132, 148);
}
